<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Подготовка к ЕГЭ, ОГЭ и олимпиадам | Учебный Центр CHALLENGE</title>
		<meta name="viewport" content="width=1140">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/static/js/bootstrap.js"></script>
    <script src="/static/static/js/owl.carousel.js"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="/static/static/js/map.js"></script>
    <script src="/static/static/js/jquery.colorbox-min.js"></script>
    <script src="/static/static/js/jquery.leanModal.min.js"></script>
    <script src="/static/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/static/js/massonry.js"></script>
    <script src="/static/static/js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/static/css/jquery.arcticmodal.css">
    <link rel="stylesheet" type="text/css" href="/static/static/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/static/css/style.css">
    <!--[if lt IE 9]>
	    <link rel="stylesheet" type="text/css" href="/static/static/css/ie.css"></script>
	<![endif]-->
	

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.js"></script>
    <script src="/static/static/js/filter.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PVTZM3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PVTZM3');</script>
<!-- End Google Tag Manager -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'yovL69tptN';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1362746677110918'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1362746677110918&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<head>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1362746677110918'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1362746677110918&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</head>
<script>fbq('track', '<EVENT_NAME>');</script>

<!-- Vkontakte pixel counter -->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=M*HQ5z1mAjWTCerML6nXl4ktLuLTngBt4iZWG*lG0WnB*OzL6ziTheDMXR1Ei590y12RDkH1a/6cftpKgWBPdJiMjYSLra3zewQYZKwRbaAGox58*Bps0Oi07O5aQMxbx74mRkf*QYzZ/0NgKzvGPaDwL9YqKCil0NT9XN586TY-&pixel_id=1000056285';</script>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "2844762", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2844762;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<header>
    <div class="container">
			<div class="h_left">
        <a href="/" class="h_logo"><img src="/static/static/img/logo.png"><span>CHALLENGE</span></a>
        <span class="h_txt">Подготовка к ЕГЭ, ОГЭ и олимпиадам</span>
			</div>
			<div class="h_right">
				<div class="h_numbers">
					<a href="callto:+74993482300" class="h_phone"><div class="ya-phone">+7 (499) 348-23-00</div></a>
					<span class="n_info">с 10:00 до 22:00 без выходных</span>
				</div>
        <a href="#" class="h_call btn_or btn_small">Заказать звонок</a>
			</div>
    </div>
</header>
<nav>
    <hr/>
    <div class="container">
        <ul>
            <li><a href="/about/">О центре</a></li>
            <li><a href="/courses/">Курсы</a></li>
            <li class="caret"><a href='#'>Предметы</a>
                <ul>
                    <li><a href="/subject/1/">Математика</a></li>
                    <li><a href="/subject/2/">Русский язык</a></li>
                    <li><a href="/subject/3/">Обществознание</a></li>
                    <li><a href="/subject/4/">Физика</a></li>
                    <li><a href="/subject/5/">Химия</a></li>
                    <li><a href="/subject/6/">Биология</a></li>
                    <li><a href="/subject/7/">История</a></li>
                    <li><a href="/subject/8/">Литература</a></li>
                    <li><a href="/subject/9/">Информатика</a></li>
                    <li><a href="/subject/10/">Английский язык</a></li>
                </ul>
            </li>
            <li><a href="/tutors/">Преподаватели</a></li>
            <li><a href="/students/">Выпускники</a></li>
            <!--<li><a href="/stoimost/">Стоимость</a></li>-->
            <li><a href="/contacts/">Контакты</a></li>
            <li><a href="/blog/">Блог</a></li>
        </ul>
    </div>
</nav>


		<div id="breadcrumbs">
			<div class="container">
				<a href="/">Главная </a>
				<a href="#!">Учебные куры</a>
			</div>
		</div>
    <div id="main_container" class="course_block">
			<div class="container">
			<div class="bh1">Библиотека учебных курсов</div>
			
			<div class="controls" id="Filters">
				<div class="filterblocks">
					<div class="bh4">Предмет</div>
					<div class="filt_line">
						<div class="checkbox bluefilter">
							<input type="checkbox" id="p_checkbox1" value=".mathematics"/>
							<label for="p_checkbox1">Математика</label>
						</div>
						<div class="checkbox yellowfilter">
							<input type="checkbox" id="p_checkbox2" value=".russian"/>
							<label for="p_checkbox2">Русский язык</label>
						</div>
						<div class="checkbox yellowfilter">
							<input type="checkbox" id="p_checkbox3" value=".history"/>
							<label for="p_checkbox3">История</label>
						</div>
						<div class="checkbox yellowfilter">
							<input type="checkbox" id="p_checkbox4" value=".literature"/>
							<label for="p_checkbox4">Литература</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" id="p_checkbox5" value=".chemistry"/>
							<label for="p_checkbox5">Химия</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" id="p_checkbox6" value=".physics"/>
							<label for="p_checkbox6">Физика</label>
						</div>
						<div class="checkbox yellowfilter">
							<input type="checkbox" id="p_checkbox7" value=".social"/>
							<label for="p_checkbox7">Обществознание</label>
						</div>
						<div class="checkbox yellowfilter">
							<input type="checkbox" id="p_checkbox8" value=".english"/>
							<label for="p_checkbox8">Английский язык</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" id="p_checkbox9" value=".informatics"/>
							<label for="p_checkbox9">Информатика</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" id="p_checkbox10" value=".biology"/>
							<label for="p_checkbox10">Биология</label>
						</div>
					</div>
				</div>
				<div class="filterblocks">
					<div class="bh4">Класс</div> 
					<div class="filt_line">
						<div class="checkbox bluefilter">
							<input type="checkbox" class="checks" id="c_check1" name="checks" value=".mix"/>
							<label for="c_check1">Любой</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" class="checks" id="c_check2" name="checks" value=".class11"/>
							<label for="c_check2">11 класс</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" class="checks" id="c_check3" name="checks" value=".class10"/>
							<label for="c_check3">10 класс</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" class="checks" id="c_check4" name="checks" value=".class9"/>
							<label for="c_check4">9 класс</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" class="checks" id="c_check5" name="checks" value=".class8"/>
							<label for="c_check5">8 класс</label>
						</div>
					</div>
				</div>
			
				<div class="filterblocks">
					<div class="bh4">Акции</div> 
					<div class="filt_line">
						<div class="checkbox bluefilter">
							<input type="checkbox" id="a_checkbox1" value=".startintensiv"/>
							<label for="a_checkbox1">Старт интенсивов</label>
						</div>
						<div class="checkbox bluefilter">
							<input type="checkbox" id="a_checkbox2" value=".dozapicgroup"/>
							<label for="a_checkbox2">Дозапись в группы</label>
						</div>
					</div>
				</div>
			<div class="block_courses container" id="Container">
				 <div class="fail-message"><span>Нет подходящих результатов</span></div>
				<div class="kurs_item mix mathematics class10 startintensiv">
					<a class="full_a" href="/course/42/">
					<span class="kurs_item_head">Английский язык</span>
					<span class="kurs_item_desc">Подготовка к ЕГЭ, часть С</span>
					<div class="kurs_item_prepod">
						<div class="kurs_item_prep_img">
							<img src="/media/t_T.Petrova_MS7r4s8.jpg">
						</div>
						<div class="kurs_item_prep_name">
							<b>Виктор Сиволгин</b>
							<span>МГУ</span>
						</div>
					</div>
					<div class="kurs_item_small_info">
						<div class="kurs_item_line">
							<b class="wid50">Кол-во:</b>
							<span class="wid502 bluef">32 занятия</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Старт:</b>
							<span class="wid502 bluef">25.09.2016</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Стоимость:</b>
							<div class="kurs_price">
								<span class="old_price">6900</span>
								<span class="new_price">
									<span>5900<span class="rub">₽</span><div class="moreinfo"><div class="showinfo">* При оплате до 20 декабря</div></div></span>									
								</span>
							</div>
						</div>
					</div>
					<div class="kurs_item_more">
						<div class="ppc_item_more_btn btn_blue btn_small">Подробнее</div>
					</div>
					</a>
				</div>
				<div class="kurs_item mix mathematics class11 dozapicgroup">
					<a class="full_a" href="/course/42/">
					<span class="kurs_item_head">Английский язык</span>
					<span class="kurs_item_desc">Подготовка к ЕГЭ, часть С</span>
					<div class="kurs_item_prepod">
						<div class="kurs_item_prep_img">
							<img src="/media/t_T.Petrova_MS7r4s8.jpg">
						</div>
						<div class="kurs_item_prep_name">
							<b>Виктор Сиволгин</b>
							<span>МГУ</span>
						</div>
					</div>
					<div class="kurs_item_small_info">
						<div class="kurs_item_line">
							<b class="wid50">Кол-во:</b>
							<span class="wid502 bluef">32 занятия</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid100 bluef">Группа набирается</b>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Стоимость:</b>
							<div class="kurs_price">
								<span class="old_price">6900</span>
								<span class="new_price">
									<span>5900<span class="rub">₽</span><div class="moreinfo"><div class="showinfo">* При оплате до 20 декабря</div></div></span>									
								</span>
							</div>
						</div>
					</div>
					<div class="kurs_item_more">
							<div class="ppc_item_more_btn btn_blue btn_small">Подробнее</div>
					</div>
					</a>
				</div>

				<div class="kurs_item mix mathematics class11">
					<a class="full_a" href="/course/42/">
					<span class="kurs_item_head">Английский язык</span>
					<span class="kurs_item_desc">Подготовка к ЕГЭ, часть С</span>
					<div class="kurs_item_prepod">
						<div class="kurs_item_prep_img">
							<img src="/media/t_T.Petrova_MS7r4s8.jpg">
						</div>
						<div class="kurs_item_prep_name">
							<b>Виктор Сиволгин</b>
							<span>МГУ</span>
						</div>
					</div>
					<div class="kurs_item_small_info">
						<div class="kurs_item_line">
							<b class="wid50">Кол-во:</b>
							<span class="wid502 bluef">32 занятия</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid100 orf">Идет дозапись!</b>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Стоимость:</b>
							<div class="kurs_price">
								<span class="old_price">6900</span>
								<span class="new_price">
									<span>5900<span class="rub">₽</span><div class="moreinfo"><div class="showinfo">* При оплате до 20 декабря</div></div></span>									
								</span>
							</div>
						</div>
					</div>
					<div class="kurs_item_more">
							<div class="ppc_item_more_btn btn_blue btn_small">Подробнее</div>
					</div>
					</a>
				</div>
				
				<div class="kurs_item mix mathematics class10">
					<a class="full_a" href="/course/42/">
					<span class="kurs_item_head">Английский язык</span>
					<span class="kurs_item_desc">Подготовка к ЕГЭ, часть С</span>
					<div class="kurs_item_prepod">
						<div class="kurs_item_prep_img">
							<img src="/media/t_T.Petrova_MS7r4s8.jpg">
						</div>
						<div class="kurs_item_prep_name">
							<b>Виктор Сиволгин</b>
							<span>МГУ</span>
						</div>
					</div>
					<div class="kurs_item_small_info">
						<div class="kurs_item_line">
							<b class="wid50">Кол-во:</b>
							<span class="wid502 bluef">32 занятия</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Старт:</b>
							<span class="wid502 bluef">25.09.2016</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Стоимость:</b>
							<div class="kurs_price">
								<span class="old_price">6900</span>
								<span class="new_price">
									<span>5900<span class="rub">₽</span><div class="moreinfo"><div class="showinfo">* При оплате до 20 декабря</div></div></span>									
								</span>
							</div>
						</div>
					</div>
					<div class="kurs_item_more">
							<div class="ppc_item_more_btn btn_blue btn_small">Подробнее</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
    <div class="clear"></div>
		<div id="b_step" class="b_step">
			<div class="container">
				<div class="bh1">Сделайте <font class="orf">первый шаг</font> к своей цели!</div>
				<div class="bh2">Запишитесь на бесплатное пробное занятие</div>
				<form class="b_step_form" method="post" action="/thanks/">
						<input type="hidden" name="csrfmiddlewaretoken" value="vJYO3OIIleflA172waIarIQDwVMbgN3Q">
						<input type="text" class="mff_input mff_name" name="name" placeholder="Ваши имя и фамилия" required="">
						<input type="text" class="mff_input mff_phone" name="tel" placeholder="+7 (XXX) XXX-XX-XX" required="">
						<input type="submit" class="mff_submit btn_or" value="Записаться ">
        </form>
			</div>
		</div>
	
<footer>
    <div class="container">
				<div class="h_left">
					<a href="#" class="h_logo"><img src="/static/static/img/logo.png"><span>CHALLENGE</span></a>
					<a href="#" class="h_pay btn_blue btn_small">Оплатить курсы</a>
        </div>
				<div class="h_right">
					<div class="h_numbers">
						<a href="callto:+74993482300" class="h_phone"><div class="ya-phone">+7 (499) 348-23-00</div></a>
						<span class="n_info">с 10:00 до 22:00 без выходных</span>
					</div>
					<div class="h_call btn_or btn_small">Заказать звонок</div>
					<a href="https://vk.com/egechallenge" target="_blank" class="vk_soc"></a>
					<a href="https://www.facebook.com/egechallenge" target="_blank" class="fb_soc"></a>
					<a href="https://www.youtube.com/channel/UCWHtcIUTLmQJbvVhinQ-cvw" target="_blank" class="yt_soc"></a>
				</div>
    </div>
</footer>
<div id="creator">
    <div class="container row_creat">
        <span class="creator_copyright">2014-2016 © OOO «Первый челлендж». Все права защищены</span>
				<div class="f_links_new">
					<a href="/about/">О центре</a>
					<a href="/courses/">Курсы</a>
					<a href="/tutors/">Преподаватели</a>
					<a href="/students/">Выпускники</a>
					<a href="/contacts/">Контакты</a>
					<a href="/blog/">Блог</a>
				</div>
    </div>
</div>
<!-- modalheader-->
<div style="display: none;" id="lean_overlay">
    <div class="box-modal" id="modal1">
        <div class="modal-close arcticmodal-close close1"><img src="/static/static/img/close_modal.png"></div>
        <div class="modal-content-box">
            <form class="mf_capt_rform" method="post" action="/thanks/">
                <input type='hidden' name='csrfmiddlewaretoken' value='vJYO3OIIleflA172waIarIQDwVMbgN3Q' />
                <span class="mff_head">Оставьте контакты</span>
                <span class="mff_text">и мы перезвоним Вам<br/><span>в ближайшие 24 часа</span></span>
                <input type="text" class="mff_input mff_name" name="name"  placeholder="Ваши имя и фамилия" required/>
                <input type="text" class="mff_input mff_phone" name="tel" placeholder="+7 (XXX) XXX-XX-XX" required/>
                <input type="mail" class="mff_input mff_mail" name="email" placeholder="Ваш E-mail"/>
                <input type="submit" class="mff_submit btn_or" value="Записаться "/>
            </form>
        </div>
    </div>
    <div class="box-modal" id="kassa_modal">
        <div class="modal-close arcticmodal-close close1"><img src="/static/static/img/close_modal.png"></div>
        <div class="modal-content-box">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Внимание! Это только пример. Для того, чтобы он работал,
обязательно пропишите в нем shopId и scid, который мы присылаем в письме на ваш контактный e-mail. -->
<form method="POST" action="https://money.yandex.ru/eshop.xml">

<!-- ОБЯЗАТЕЛЬНЫЕ ПОЛЯ -->
    <span class="mff_head">Оплата занятий</span>
    <span class="mff_text">Все поля обязательны<br/>для заполнения</span>
    <input type="hidden" name="shopId" value="77344">
    <input type="hidden" name="scid" value="72157">
    <!-- Идентификатор клиента<font color="red">*</font>:<br>
    <input type=text name="customerNumber" size="64" placeholder="клиент N2 - это пример"><br><br> -->
    <input name="paymentType" value="" type="hidden"/>
    <input type=text class="mff_input" name="custName" size="43" placeholder="Ф.И. ученика" required>
    <input type=text class="mff_input" name="cps_phone" size="43" placeholder="Телефон родителя" required>
    <input type=text class="mff_input" name="custEmail" size="43" placeholder="E-mail родителя" required>
    <input type=text class="mff_input" name="custEmail" size="43" placeholder="Назначение платежа" required>
    <input type=text class="mff_input" name="sum" size="43" placeholder="Сумма (руб.)" required>
    <!-- Кнопка отправки платежа -->
    <input type=submit class="mff_submit" value="Оплатить"><br>
</form>

<!-- Обратите внимание, что в данной форме name="paymentType" value="" (т.е. метод платежа передается без значения). Выбрать способ оплаты (яндекс.кошелек, банковаская карта и т.д.) покупатель сможет после того, как на вашем сайте нажмет кнопку "оплатить" и откроется страница оплаты на сайте https://money.yandex.ru -->

        </div>
    </div>
</div>


<script type="text/javascript">
(function(d, w, k) {
    w.introvert_callback = function() {
        try {
            w.II = new IntrovertIntegration(k);
        } catch (e) {console.log(e)}
    };

    var n = d.getElementsByTagName("script")[0],
        e = d.createElement("script");

    e.type = "text/javascript";
    e.async = true;
    e.src = "https://api.yadrocrm.ru/js/cache/"+ k +".js";
    n.parentNode.insertBefore(e, n);
})(document, window, 'd131bb4d');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter27444111 = new Ya.Metrika({
                    id:27444111,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/27444111" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>