{% extends 'tpl.html' %}
{% load staticfiles %}
{% block main %}
<div id="breadcrumbs">
        <div class="container">
            <a href="/">Главная </a>
            <a href="#!">Контакты</a>
        </div>
    </div>
    <div id="main_container" class="contacts">
        <div class="container">
            <div class="ocenter_head">Где мы находимся?</div>
            <div class="contacts_img">
                <img src="{% static 'static/img/04.png' %}">
            </div>
            <span class="contacts_txt">В 3 минутах ходьбы от метро Сухаревская:<br />
            <b>Большая Сухаревская площадь, 16/18 с.1.</b> </span>
             <br />
             1). Из стеклянных дверей метро направо.  <br /><br />
2). Пройти 250 метров вдоль Садового кольца: мимо сквера и дома, похожего на терем (Садовое кольцо должно быть слева от вас). Дойти до Ананьевского переулка, перейти дорогу и повернуть направо. Вход со стороны переулка, вторая от угла красивая тёмная дверь с большим козырьком (подъезд №5).<br /> <br />
3). Код 1#3439, подняться на 6 этаж, офис 85.
              <br /> <br /><br />

Хотите задать вопрос про обучение?
<br /> — позвоните нам: <b>+7 (499) 348-23-00</b>
<br /> — либо напишите нам: <b>start@egechallenge.ru</b>
<br /><br />
Хотите работать в CHALLENGE? <br />Пришлите резюме на hr@egechallenge.ru.
<br /><br />
Вопросы партнёрства или иного сотрудничества? <br />
Напишите на vs@egechallenge.ru.
<br /><br />
            <div class="contacts_img">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/msPG0Ggx91M" frameborder="0" allowfullscreen></iframe>
            </div>

            <!--<div class="contacts_heads">День открытых дверей 9 октября<br />пройдёт по адресу: </div>
            <ul class="contacts_ul">
                <li><span class="show_modal3" id="1">Малый Сухаревский пер., 6 (м. Цветной Бульвар)</span></li>
                 <li><span class="show_modal3" id="2">от м. Трубная </span></li>
                <li style="margin-top: 0;"><span class="show_modal3" id="3">от м. Сухаревская </span></li>
{#                <li><span class="show_modal3" id="4">Как проехать на машине и где припарковаться</span></li>#}
            </ul>
{#            <div class="ppc_item_more_btn">Узнать подробнее о расположении</div><br />#}
            <!--a class="predmet_head_btn" href="#">Я заблудился, позвоните мне</a-->

        </div>
    </div>


    <!-- modalMap-->
<div style="display: none;" id="lean_overlay">
    <div class="box-modal modal2-1" id="modal2">
        <div class="modal-close arcticmodal-close close1"><img src="{% static 'static/img/close_modal.png' %}"></div>
        <div class="modal-content-box">
            <div class="kak_popast">
                <img src="{% static 'static/img/logo.png'%}">
                <span>Как пройти<br />в учебный центр CHALLENGE<br /><b>от м. Цветной бульвар</b></span>

                <p>
                 Выйти из м. Цветной бульвар в сторону цирка (первый вагон из центра), повернуть направо, пройти статую Никулина, по переходу на другую сторону, через бульвар и сквер по второму переходу. Держитесь правее.
                </p>
                <p>
                 После перехода пройти 60 шагов до дома №6, здание МПГУ, Факультет педагогики и психологии.
                </p>
                <img src="{% static 'static/img/map_cvetnoy.png'%}">
                <div class="zablud"><b>Заблудились?</b> Звоните <a href="callto:+74993482300" class="h_phone" >+7 (499) 348-23-00</a><div class="h_call">Заказать звонок</div>   </div>
            </div>
        </div>
    </div>
</div>
    <div style="display: none;" id="lean_overlay">
    <div class="box-modal modal2-2" id="modal2">
        <div class="modal-close arcticmodal-close close1"><img src="{% static 'static/img/close_modal.png' %}"></div>
        <div class="modal-content-box">
            <div class="kak_popast">
                <img src="{% static 'static/img/logo.png'%}">
                <span>Как пройти<br />в учебный центр CHALLENGE<br /><b>от м. Трубная</b></span>

                <p>
                 Выйти из м. Цветной бульвар в сторону цирка (последний вагон из центра), повернуть направо, пройти статую Никулина, по переходу на другую сторону, через бульвар и сквер по второму переходу. Держитесь правее.
                </p>
                <p>
                 После перехода пройти 50 шагов и перед желтым домом №6 повернуть направо. Слева будет крыльцо со светящейся лампочкой
                </p>
                <img src="{% static 'static/img/map2.jpg'%}">
                <div class="zablud"><b>Заблудились?</b> Звоните <a href="callto:+74993482300" class="h_phone" >+7 (499) 348-23-00</a><div class="h_call">Заказать звонок</div>   </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;" id="lean_overlay">
    <div class="box-modal modal2-3" id="modal2">
        <div class="modal-close arcticmodal-close close1"><img src="{% static 'static/img/close_modal.png' %}"></div>
        <div class="modal-content-box">
            <div class="kak_popast">
                <img src="{% static 'static/img/logo.png'%}">
                <span>Как пройти<br />в учебный центр CHALLENGE<br /><b>от м. Цветной бульвар</b></span>

                <p>
                 Выйти из м. Цветной бульвар в сторону цирка (последний вагон из центра), повернуть направо, пройти статую Никулина, по переходу на другую сторону, через бульвар и сквер по второму переходу. Держитесь правее.
                </p>
                <p>
                 После перехода пройти 50 шагов и перед желтым домом №6 повернуть направо. Слева будет крыльцо со светящейся лампочкой
                </p>
                <img src="{% static 'static/img/map3.jpg'%}">
                <div class="zablud"><b>Заблудились?</b> Звоните <a href="callto:+74993482300" class="h_phone" >+7 (499) 348-23-00</a><div class="h_call">Заказать звонок</div>   </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
