{% extends 'tpl.html' %}
{% load staticfiles %}
{% block main %}
    <div id="breadcrumbs">
        <div class="container">
            <a href="/">Главная </a>
            <a href="#!">О центре</a>
        </div>
    </div>

    <div id="main_container">
        <div class="container">
            <div class="ocenter_head">Общая информация об Учебном Центре</div>
            <div class="ocenter_text">Учебный Центр CHALLENGE основан выпускниками механико-математического и физического факультетов МГУ им. М. В. Ломоносова. Мы готовим школьников к ЕГЭ, ОГЭ и олимпиадам, доходчиво объясняем материал и добиваемся полного понимания предмета. Лучшие ученики поступают в МГУ, МФТИ, ВШЭ и другие лучшие вузы страны.</div>
            <div class="ocenter_item">
                <div class="kcr_start_head">Работа Учебного Центра</div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Чем занимается ваш Центр?</span>
                   <span class="ocenter_epandeble_white">Учебный Центр CHALLENGE готовит  школьников 8-11 классов к сдаче ЕГЭ, ОГЭ и олимпиадам.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Кто ваши преподаватели?</span>
                   <span class="ocenter_epandeble_white">Преподаватели - молодые энергичные специалисты, недавние выпускники топовых вузов Москвы, имеющие большой опыт подготовки к ЕГЭ и олимпиадам в мини-группах. Многие из них преподают в вузах и лучших школах Москвы. Возраст преподавателей 22-30 лет.<br /><br /></span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Когда проводятся занятия и как часто?</span>
                   <span class="ocenter_epandeble_white">Занятия проходят 1 раз в неделю по каждому предмету. Время занятий:<br /> - по будням: 16:40–18:40 / 18:50–20:50, <br /> - по выходным: 11:50–13:50 / 14:00–16:00 / 16:40–18:40 / 18:50–20:50. <br />Расписание конкретных групп можно уточнить по телефону (499) 348-23-00.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">На сколько месяцев рассчитаны курсы в CHALLENGE?</span>
                   <span class="ocenter_epandeble_white">Стандартный учебный Курс по каждому предмету длится 32 недели (8 учебных месяцев). Занятия 1 раз в неделю по 3 акад. часа (120 минут). 

Большинство курсов стартуют в сентябре и октябре, в январе и феврале мы запускаем интенсивные курсы. Они длятся 16 недель, занятия длиннее — 1 раз в неделю по 4.5 акад. часа (180 минут).</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Что необходимо для зачисления в группу и заключения договора?</span>
                   <span class="ocenter_epandeble_white">Для зачисления в группу требуется присутствие законного представителя учащегося, его паспорт, а также паспорт учащегося. Если учащийся является совершеннолетним, то присутствие законного представителя необязательно. В этом случае учащийся имеет право заключить договор самостоятельно.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Сколько человек учится в группе?</span>
                   <span class="ocenter_epandeble_white"> В группе могут обучаться от 3 до 7 человек.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Какие способы оплаты возможны?</span>
                   <span class="ocenter_epandeble_white">Приобретая программу, вы можете выбрать один вариант оплаты из трех: </br> — по месяцам (8 платежей), </br> — по полугодиям (2 платежа), </br> — за год (1 платеж). </br>Провести оплату вы можете безналичным переводом или в кассе учебного центра.</span>
                </div>
            </div>
            <div class="ocenter_item">
                <div class="kcr_start_head">Учебный процесс в CHALLENGE</div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Есть ли у вас градация детей по уровню подготовки?</span>
                   <span class="ocenter_epandeble_white">Да. CHALLENGE проводит вступительные тестирования по каждому предмету для определения начального уровня знаний учащегося и записывает его в соответствующую группу.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Проводятся ли пробные занятия?</span>
                   <span class="ocenter_epandeble_white">Да, первое занятие у нас можно посетить отдельно и оценить уровень наших услуг: познакомиться с преподавателем и коллективом, понять, нравится ли  вам подача материала, задать все дополнительные вопросы. Стоимость одного занятия стоит 2000 руб. </span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Как вы контролируете успеваемость и прогресс учеников?</span>
                   <span class="ocenter_epandeble_white">Работа ученика складывается из нескольких составляющих: написание летучек (5 мин в начале каждого занятия), выполнение домашнего задания (Базовых Тестов и основного ДЗ), написание контрольных, а также регулярных пробных ЕГЭ (ОГЭ) каждые два месяца. Все результаты ученика фиксируются в Ведомости, которая всегда доступна онлайн.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Есть ли гарантия результата?</span>
                   <span class="ocenter_epandeble_white">Важно понимать, что результат занятий зависит не только от работы Учебного Центра, но и от самого ученика. Однако, мы гарантируем, что при условии регулярного выполнения всех заданий, которые задает преподаватель, ученик выйдет на качественно новый уровень подготовки.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Сколько длится одно занятие?</span>
                   <span class="ocenter_epandeble_white"> 3 акад. часа (120 минут) для стандартных групп, 4.5 акад. часа (180 мин) для интенсивных групп.</span>
                </div>
                <div class="ocenter_expandeble">
                   <span class="ocenter_expandeble_click">Как быть с пропущенными занятиями?</span>
                   <span class="ocenter_epandeble_white">При пропуске занятия по уважительной причине (по болезни или из-за участия в олимпиаде) при наличии справки о болезни или справки из школы, подтверждающие невозможность присутствия ученика на занятии данного числа, оплата пропущенного занятия переносится на последний период оплаты. </span>
                </div>
            </div>
        </div>
    </div>
		
{% endblock %}