{% extends 'tpl.html' %}
{% load staticfiles %}
{% load courses_extras %}
{% block main %}
    <div id="main_container">
        <div class="predmet_head"><!-- классы для разны бг math, phys, rus, obsh, his, eng, lit, inf, him, bio-->
            <div id="breadcrumbs">
                <div class="container">
                    <a href="/">Главная </a>
                    <a href="/courses/">Учебные курсы </a>
                    <a href="#!">{{ subject.name }}</a>
                </div>
            </div>
            <div class="container">
                <div class="predmet_head_ht">Подготовка к ЕГЭ, ОГЭ и олимпиадам</div>
                <div class="predmet_head_bt">по {{ subject.name_dat }}</div>
                <div class="predmet_head_mt">{{ description_top }}</div>
                <ul>
                    {% for item in description %}
                    <li><span>{{ item }}</span></li>
                    {% endfor %}
                </ul>
                <a class="predmet_head_btn btn_or" href="#!">Оставить заявку</a>
            </div>
        </div>
    </div>
    <div class="predmet_curcurs">
        <div class="container">
            <div class="pc_head">Курсы по {{ subject.name_dat }}</div>
            <div class="block_courses container">
                {% for course in courses %}
                <div class="kurs_item">
					<a class="full_a" href="/course/{{ course.id }}/">
					<span class="kurs_item_head">{{ course.course_type.subject.name }}</span>
					<span class="kurs_item_desc">{{ course.course_type.name }}</span>
					<div class="kurs_item_prepod">
						<div class="kurs_item_prep_img">
							<img src="{{ course.tutor.photo.url }}">
						</div>
						<div class="kurs_item_prep_name">
							<b>{{ course.tutor.first_name }} {{ course.tutor.last_name }}</b>
							<span>{{ course.tutor.educ }}</span>
						</div>
					</div>
					<div class="kurs_item_small_info">
						<div class="kurs_item_line">
							<b class="wid50">Кол-во занятий:</b>
							<span class="wid502 bluef">{{ course.duration }}</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Старт:</b>
							<span class="wid502 bluef">{% if course.date_start %}{{ course.date_start|date:"d.m.Y" }}{% else %}Идет набор{% endif %}</span>
						</div>
						<div class="kurs_item_line">
							<b class="wid50">Стоимость:</b>
							<div class="kurs_price">
                                {% get_new_course_price course.id as new_price %}
								{% if new_price %}
                                    <span class="old_price">{{ course.course_price }}</span>
                                    <span class="new_price">
                                        <span>{{ new_price }}<span class="rub">₽</span>{% if course.course_discount.date_finish %}<div class="moreinfo"><div class="showinfo">* При оплате до {{ course.course_discount.date_finish|date:"d.m.Y" }}</div></div>{% endif %}</span>
                                    </span>
                                {% else %}
                                    <span class="new_price">
                                        <span>{{ course.course_price }}<span class="rub">₽</span></span>
                                    </span>
                                {% endif %}
							</div>
						</div>
					</div>
					<div class="kurs_item_more">
						<div class="ppc_item_more_btn btn_blue btn_small">Подробнее</div>
					</div>
					</a>
				</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="b5" class="predmet_prep">
        <div class="container">
            <span class="b5_head">Наши преподаватели</span>
            <span class="b5_text">Выпускники лучших вузов страны, участники конференций и олимпиад.<br />Научат самостоятельно мыслить и применять полученные знания на практике</span>
            <div class="b5_carousel_container">
                <div id="b5-carousel" class="owl-carousel">
                    {% for tutor in tutors %}
                    <div class="b5_owl_item">
                        <div class="b5_owl_img"><img src="{{ tutor.photo.url }}"></div>
                        <span class="b5_owl_name">{{ tutor.first_name }} <br />{{ tutor.last_name }}</span>
                        <span class="predmet_prep_math">{{ subject.name }}</span>
                        <span class="b5_owl_text">{{ tutor.education }}</span>
                        <a class="b5_owl_link b5_big show_modal3 btn_blue btn_small" id="prep{{ tutor.id }}" href="#!">Подробнее</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a href="/tutors/" class="btn_blue btn_small b5_ling">Посмотреть всех Преподавателей</a>
        </div>
    </div>
        <div id="b3" class="predmet_pred">
        <div class="container">
            <span class="b3_head">Посмотреть другие предметы и курсы</span>
            <span class="b3_text">мы готовим по всем основным школьным предметы, по которым сдаются ЕГЭ и ОГЭ</span>
            <div class="b3_itemrow">
                <a href="/subject/1/" class="b3_item_m">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon1.png' %}"></div>
                    <span class="b3_item_txt">Математика</span>
                </a>
                <a href="/subject/4/" class="b3_item_m">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon6.png' %}"></div>
                    <span class="b3_item_txt">Физика</span>
                </a>
                <a href="/subject/2/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon2.png' %}"></div>
                    <span class="b3_item_txt">Русский язык</span>
                </a>
                <a href="/subject/3/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon7.png' %}"></div>
                    <span class="b3_item_txt">Обществознание</span>
                </a>
                <a href="/subject/5/" class="b3_item_m">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon5.png' %}"></div>
                    <span class="b3_item_txt">Химия</span>
                </a>
                <a href="/subject/9/" class="b3_item_m">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon9.png' %}"></div>
                    <span class="b3_item_txt">Информатика</span>
                </a>
                <a href="/subject/10/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon8.png' %}"></div>
                    <span class="b3_item_txt">Английский язык</span>
                </a>
                <a href="/subject/8/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon4.png' %}"></div>
                    <span class="b3_item_txt">Литература</span>
                </a>
                <a href="/subject/7/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon3.png' %}"></div>
                    <span class="b3_item_txt">История</span>
                </a>
                <a href="/subject/6/" class="b3_item_m b3_item_g">
                    <div class="b3_item_img"><img src="{% static 'static/img/b3_icon10.png' %}"></div>
                    <span class="b3_item_txt">Биология</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    {% include 'tutors_modal.html' %}
    <script type="text/javascript">
        var head_img = {1: 'math', 2:'rus', 3:'obsh', 4:'phys', 5:'him', 6:'bio', 7:'his', 8:'lit', 9:'inf', 10:'eng'};
        var head = $('.predmet_head');
        head.addClass(head_img[{{ subject.id }}]);
    </script>
{% endblock %}
