{% extends 'tpl.html' %}
{% load staticfiles %}
{% block main %}
    <div id="breadcrumbs">
        <div class="container">
            <a href="#">Главная </a>
            <a href="#">Система обучения</a>
        </div>
    </div>
    <div id="main_container" class="syspage">
        <div class="container">
            <div class="main_cont_head">Система обучения</div>
            <span class="syspage_htxt"><b>Качественная подготовка к ЕГЭ и ОГЭ</b> — а тем более к вступительным испытаниям в МГУ и олимпиадам — требует выполнения нескольких необходимых компонент подготовки. Сперва  — про самый важный компонент.</span>
            <div class="syspage_block syspage_block_bordered">
                <span class="syspage_block_head sbh1">Ответственность</span>
                <b>Важно:</b> обе стороны в равной мере ответственны за успех. Успех подготовки зависит в равной степени как от уровня Преподавателя и слаженной работы Учебного Центра, так и от добросовестной работы Ученика. Мы гарантируем, что Вы достигните результата и получите нужные баллы по ОГЭ и ЕГЭ, но только при строго обязательном условии — ученик должен усердно работать. Активно участвовать в освоении материала на занятиях, выполнять все домашние и контрольные работы, писать Аттестации (тренировочные ЕГЭ). Ходить на все олимпиады, если позволяет уровень знаний. <br /><br />

                Если и Преподаватель, и Ученик трудятся на равных — результат будет.<br /><br />

                Трудолюбие — обязательное условие обучения в CHALLENGE. В каком смысле "обязательное"? Разгадка — в блоке "Итоги учебного месяца".<br /><br />

                Мы пристально следим за прогрессом ученика, оцениваем в баллах работу на занятиях, выполнение домашних заданий, контрольных работ и промежуточных аттестаций. <br /><br />

                <b>Итак, компоненты подготовки.</b>
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh2">Вступительная Работа</span>
                <img src="{% static 'static/img/1.jpg' %}" class="syspage_block_rightimg">
                Мы определяем уровень знаний ученика и степень понимания данного предмета перед началом обучения, за 1-2 недели до старта занятий. Вступительная Работа состоит из 20-25 вопросов и рассчитана на 30-40 минут<br /><br />

                <b>Важно:</b> в соответствие со стандартами ФИПИ и последними изменениями в структуре ЕГЭ 2017 вступительная работа содержит в основном открытые вопросы (т.е. не тестовые, без вариантов ответа). 
                <br /><br />Данный формат вступительной работы объективней показывает знание (либо незнание) предмета, так как проставить ответы "наугад" нельзя. Ученик ответит только то, что знает и понимает. Для верного ответа, как правило, требуется и знание фактов, и, в первую очередь, общее понимание темы и предмета в целом.<br /><br />

                После написания работы преподаватель проверяет её при Вас, на основании набранного балла мы рекомендуем подходящую Вам по уровню группу и назначаем дату первого занятия.<br /><br />
                <a class="predmet_head_btn" href="#">Записаться на Вступительную Работу</a>
            </div>
            <div class="syspage_block syspage_block_bordered">
                <span class="syspage_block_head sbh3">Пробное занятие</span>
                Первое занятие по каждому из предметов в Учебном Центре — пробное. Если группа не подходит по уровню, темпу, темпераменту либо просто не понравилась — мы направим Вас в другую группу либо порекомендуем заниматься индивидуально. При этом первое прошедшее занятие в данной группе считается пробным и не включается в оплату.<br /><br />

                Если всё в порядке, Вам подходит преподаватель, группа и расписание — первое занятие включается в общее количество занятий
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh4">Беседа с преподавателем</span>
                Чтобы лучше понимать ситуацию каждого ученика, его цели и стремления, и, как следствие, адаптировать план обучения, преподаватель лично беседует с учеником.<br /><br />

                Беседа происходит в начале первого месяца курса и длится 10-15 минут до или после занятия. Преподаватель узнаёт, насколько интенсивно ученик занимался предметом и какие были трудности либо успехи. Также важно понять, чего в целом хочет ученик? Куда думает поступать, чем заниматься, его хобби и увлечения?<br /><br />

                Важно: беседа служит не только для учебных целей, но и помогает наладить личный контакт ученика и преподавателя. Взаимное понимание и уважение — залог успеха в обучении.
            </div>
            <div class="syspage_block syspage_block_bordered">
                <span class="syspage_block_head sbh5">Компоненты учебного процесса</span>
                После того, как ученик зачислен в группу нужного уровня и познакомился с Преподавателем, полноправно вступает в силу учебный процесс. Каждый успех (или неудача) ученика измеряется баллами.<br /><br />

                За что ученик получает баллы в каждом учебном месяце?
                <ul>
                    <li><span>Летучки: 5-7 минут в начале занятия, оценивается в 5 баллов.</span></li>
                    <li><span>Домашняя работа: после каждого занятия, оценивается в 10 баллов </span></li>
                    <li><span>Контрольная работа: каждое четвертое занятие, 40 баллов максимум</span></li>
                </ul>

                <br />В конце каждого месяца баллы суммируются и подводится промежуточный итог.<br /><br />
                Два раза в течение учебного года — в ноябре и в апреле — проводятся Аттестации: полноценные тренировочные ЕГЭ для 10-11 классов и ОГЭ для 9 класса.<br /><br />

                <img src="{% static 'static/img/3.png' %}">
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh6">Летучки</span>
                В начале каждого занятия важно, во-первых, вспомнить прошлые темы, во-вторых, взбодриться и "проснуться", настроится на активную работу. Для этого на каждом занятии проводится летучка   — 5-10 коротких вопросов на 5-7 минут.<br /><br />

                Летучку проверяется сразу же на занятии, за неё ученик получает до 5 баллов.
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh7">Домашние задания</span>
                В сотый и тысячный раз мы неустанно повторяем: без выполнения ДЗ обучение бессмысленно.<br />
                Ещё раз. Нет смысла заниматься, если Вы не выполняете домашнее задание. Надеюсь, это всем понятно :) <br /><br />

                Домашнее задание в CHALLENGE состоит из двух частей.<br />
                1. Основное ДЗ. Несколько задач, примеров, заданий по текущей теме. Выполняется в тетради и проверяется в начале каждого урока.<br />
                2. Базовый тест. 20-25 типовых тестовых заданий из ЕГЭ (либо ОГЭ) по текущей теме. Проверяется автоматически, результаты объявляются в начале каждого урока. За Базовый Тест ученик получает до 10 баллов.
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh8">Контрольные работы</span>
                В конце каждого месяца — каждое четвёртое занятие   —  проводится контрольная работа на 50-60 минут. На следующем занятии (на первом занятии следующего учебного месяца) мы оглашаем результаты и разбираем наиболее сложные задания, которые вызвали вопросы.<br /><br />

                За Контрольную ученик может набрать до 40 баллов.
            </div>
            <div class="syspage_block syspage_block_bordered">
                <span class="syspage_block_head sbh7">Итоги учебного месяца</span>
                Каждые 4 недели набранные учеником баллы суммируются. Результаты месяца обсуждаются в начале каждого учебного месяца (на 5-м, 9-м, 13-м, 17-м занятии и так далее).<br /><br />

                <b>Сколько можно набрать за месяц?</b>
                <ul>
                    <li><span>4 Летучки по 5 баллов каждая = 20 баллов максимум за работу в классе.</span></li>
                    <li><span>4 Базовоых Теста x 10 баллов = 40 баллов max за домашние задания.</span></li>
                    <li><span>Контрольная Работа  = 40 баллов максимум.</span></li>
                </ul><br /><br />
                <b>ИТОГО: 100 баллов максимум за учебный месяц.</b><br /><br />


                <img src="{% static 'static/img/4.png' %}"><br /><br />
                Важно: мы поощряем за хорошую успеваемость, и караем за лень.<br />
                Те, кто набирает более 80 баллов, получают приятный приз.<br />
                Те, кто набирает менее 40 баллов — исключаются из данной группы.
            </div>
            <div class="syspage_block">
                <span class="syspage_block_head sbh2">Аттестации</span>
                <img src="{% static 'static/img/2.jpg'%}" class="syspage_block_rightimg">
                В пакет занятий включены две Аттестации аттестации   —  два полноценных пробных ЕГЭ (ОГЭ) на официальных бланках в строго отведённое время без посторонней помощи.<br /><br />

                Аттестации проводятся дважды за учебный год, в ноябре и апреле. Ученик может писать Аттестацию по каждому из предметов, по которому он проходит обучение в Центре.
                <br /><br />
                Зачем нужна Аттестация? <br />Три больших пользы.
                <br /><br />
                <ul>
                    <li><span>Проверка знаний: выявляем, какие темы вызывают наибольшее затруднение, чтобы уделить им больше внимания.  </span></li>
                    <li><span>Тренировка: лишний раз применить полученные знания и навыки всегда полезно.</span></li>
                    <li><span>Моральный настрой: строгий контроль, настоящие бланки, ограниченное время. Всё по-настоящему.</span></li>
                </ul>
            </div>
            <div class="syspage_block syspage_block_bordered">
                <span class="syspage_block_head sbh9">Итоги учебного месяца</span>
                <img src="{% static 'static/img/3.jpg' %}" class="syspage_block_rightimg"><br /><br />
                Ученики, добросовестно выполняющие все компоненты подготовки  — в классе, дома, в гостях и на отдыхе*, добиваются результатов, и в июне бросают вызов вузу своей мечты. Мы радуемся успехам наших ребят вместе с ними.<br /><br />

                По окончании учебного года, в июне, мы устраиваем Выпускной, который запоминается надолго. Спросите наших "стареньких" учеников, что на нём было, либо посмотрите фото в группе ВКонтакте https://vk.com/egechallenge. <br />
                На нашем Выпускном тоже надо поработать головой! Хотя и не так сильно, как на занятиях.)<br />
                Также в конце учебного года мы выдаём сертификаты об окончании обучения.<br /><br />
                Если у Вас есть вопросы — свяжитесь с нами, либо приходите на вступительную работу.<br /><br />
                <b>*Шутка. Отдохнуть и сходить в гости иногда тоже полезно :) </b><br /><br />

            </div>
            
        </div>
    </div>












    <div id="b10" class="b10_low">
        <div class="container">
            <span class="b10_head">Остались вопросы?</span>
            <span class="b10_text">Заполните форму, наш менеджер свяжется с Вами в ближайшее время</span>
            <div class="b10_btn"><div class="b10_link">Оставить заЯвку</div></div>
        </div>
    </div>
{% endblock %}